ion-content{
  --background: blue();
  background: #C4C4C4;
}

ion-item{
  --background: blue();
  background: #C4C4C4;
}

ion-title{
  position: center;
}
ion-toolbar ion-title{
  color: #FFFFFF;

}

ion-toolbar {
  color: #FFFFFF;
  background: #334861;
  --background: blue();

}
